<div>
  <h1 class="font-bold text-4xl">Pricing</h1>

  <table>
    <tr>
      <th></th>
      <th>Free</th>
      <th>Pro</th>
    </tr>
    <tr>
      <td>Refresh rate</td>
      <td>Daily</td>
      <td>Every 15 minutes</td>
    </tr>
    <tr>
      <td>Custom domain</td>
      <td>❌</td>
      <td>✔</td>
    </tr>
    <tr>
      <td>Price</td>
      <td>$0/year</td>
      <td>$50/year</td>
    </tr>
  </table>
</div>
