<div class='space-y-4'>
  <h1 class="font-bold text-4xl">Privacy policy</h1>
  <p>
    We use Plausible analytics to anonymously track usage.
  </p>
  <p>
    We store code on Github.
  </p>
  <p>
    We host the application and database on DigitalOcean in the EU 🇪🇺.
  </p>
  <p>
    We store your Instagram username and posts data.
  </p>
  <p>
    We don't send your data to third parties.
  </p>
  <p>
    We don't collect PII or PHI data.
  </p>
</div>
