<div data-controller="clipboard" data-clipboard-clicked-value="<i class='fa-regular fa-circle-check text-green-600'></i>">
  <input data-clipboard-target="source"
        class="font-extralight text-xs h-6 rounded-md"
        type="text" value="<%= value %>" readonly hidden>
  <button data-clipboard-target="trigger" data-action="clipboard#copy">
    <i class="fa-regular fa-copy hover:text-pink-600"></i>
  </button>
</div>
