<% @posts.each do |record| %>
  <%= image_tag record['media_url'], style: 'width: 30%' %>
  <p>
    <%= record['caption'] %>
  </p>
  <p>
    <%= link_to record['id'], record['permalink'] %>
  </p>
  <p>
    <%= record['timestamp'] %>
  </p>
  <%#= record["media_type"] %>
  <%#= record["username"] %>
  <hr>
<% end %>
