<%= link_to instagram_authorize_path, class: 'flex items-center space-x-2 font-bold bg-violet-700 hover:bg-violet-900 text-fuchsia-50 p-2 rounded-md' do %>
  <i class="fa-brands fa-instagram"></i>
  <span>Connect an Instagram account</span>
<% end %>

<% if @insta_users.any? %>
  Connected Instagram accounts:

  <% @insta_users.each do |insta_user| %>
    <%= render partial: 'insta_users/insta_user', locals: { insta_user: } %>
  <% end %>
<% end %>
