<div class='flex flex-col space-y-4 items-center'>
  <div>
    <%= link_to_unless_current @insta_user.at_username, insta_user_path(@insta_user) %>
  </div>

  <%= render partial: 'insta_posts/insta_post', locals: { post: @post } %>
</div>
