<section class='flex flex-col space-y-4 items-center'>
  <div class='text-sm text-gray-700 font-semibold'>
    <%= link_to_unless_current @insta_user.at_username, insta_user_posts_path(@insta_user) %>
  </div>

  <%= render partial: 'insta_posts/insta_post', locals: { post: @post } %>
</section>

<% if @posts.any? %>
  <hr class='my-12'>

  <section>
    <div>
      More posts from
      <span class='text-gray-700 font-semibold'>
        <%= link_to_unless_current @insta_user.at_username, insta_user_posts_path(@insta_user) %>
      </span>
    </div>

    <%= render partial: 'insta_posts/grid_view', locals: { posts: @posts } %>
  </section>
<% end %>
