<div>
  <strong>
    <%= link_to Rails.application.class.module_parent.name, root_path %>
  </strong>
  <%= link_to 'Instagram login', instagram_authorize_path %>
  <%= link_to 'Insta users', insta_users_path %>
</div>
